* {
    background-color: powderblue;
    color: black;
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#title > img {
    width: 1000px;
    overflow: hidden;
    object-fit: cover;
    margin-top: 50px;
}

#title-container {
    margin-top: 35px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    flex-direction: column;
    margin-bottom: 35px;
}

h3 {
    margin-bottom: 30px;
}

#yes {
    margin-top: 30px;
}

#captcha {
    margin-left: 50px;
}

input {
    margin: 20px;
    padding: 20px;
}

button {
    background-color: silver;
    width: 50px;
    border-radius: 5px;
}

#uploader {
    margin-left: 200px;
}

.upload-btn {
    width: 100px;
}

#player {
    margin-left: 100px;
}

#buttons {
    display: flex;
    justify-content: flex-start;
}

.stem {
    width: 70px;
    margin: 30px;
}

#twostem-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-top: 15px;
    margin-right: 350px;
}

#fourstem-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-top: 15px;
    margin-right: 350px;
    align-items: center;
}

#fourstem-element {
    margin: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin: 25px;
}

audio {
    margin: 35px;
}
