<!DOCTYPE html>	
<html lang="en" dir="ltr">	
    <head>	
        <link	
            href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap"	
            rel="stylesheet"	
        />	
        <meta charset="utf-8" />	
        <title>My Spleeter App</title>	
    </head>	
    <body>	
        <main></main>	
        <script src="/bundle.js"></script>	
    </body>	
</html>