* {
    background-color: royalblue;
    /* background-image: linear-gradient(
        to right,
        #eea2a2 0%,
        #bbc1bf 19%,
        #57c6e1 42%,
        #b49fda 79%,
        #7ac5d8 100%
    ); */
    color: black;
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#title > img {
    width: 1000px;
    overflow: hidden;
    object-fit: cover;
    margin-top: 50px;
}

#title-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

h3 {
    margin-bottom: 30px;
}

#yes {
    margin-top: 30px;
}

#captcha {
    margin-left: 50px;
}

input {
    margin: 20px;
    padding: 20px;
}

button {
    background-color: silver;
    width: 50px;
    border-radius: 5px;
}

#uploader {
    margin-left: 200px;
}

.upload-btn {
    width: 100px;
}
